@import '../../../styles/variables';
@import '../../../styles/media-queries';

.Skills {
  background: white;
  color: #727878;
  font-family: $font-body;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 16px 48px 16px;

  .skills-content {
    display: flex;
    flex-direction: column;
    width: 550px;

    .skill {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border: 1px solid #363636;
      margin-bottom: 10px;
      &:hover {
        background: #efefef;

        .fa-star {
          font-size: 1.125rem;
        }

        .fa-star-half-alt {
          font-size: 1.125rem;
        }
      }

      .skill-title {
        width: 70%;
        padding: 10px;
        text-align: left;
      }

      .skill-score {
        width: 30%;
        padding: 10px;
        text-align: right;

        .fa-star {
          transition: all 0.2s cubic-bezier(.25,.8,.25,1);
          color: #22a39f;
        }

        .fa-star-half-alt {
          transition: all 0.2s cubic-bezier(.25,.8,.25,1);
          color: #22a39f;
        }

        

      }
    }
  }
}